@media (max-width: 1200px) {
  .home .header_texts {
    padding-left: 80px;
  }
}

@media (max-width: 790px) {
  nav .nav-links {
    display: none;
  }
  .home .header_texts {
    padding-left: 50px;
  }

  .header_texts span {
    font-size: 1.8rem;
  }
  .header_texts h1 {
    font-size: 2rem;
  }
  #movies_sec,
  #upComing_sec,
  #subscription,
  .footer {
    padding: 0 20px;
  }
  .pricing {
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
  .pricing div {
    padding: 20px 40px 0;
  }

  .pricing .plan_title {
    margin-bottom: 5px;
    font-size: 2.8rem;
  }

  .pricing .user {
    margin-bottom: 20px;
  }
  .pricing .amount {
    margin-bottom: 20px;
    font-size: 3.8rem;
  }

  .pricing ul {
    margin-bottom: 35px;
  }
}

@media (max-width: 680px) {
  .pricing {
    gap: 20px;
  }
  .pricing div {
    padding: 10px 30px 0;
  }
  .pricing .plan_title {
    font-size: 2.4rem;
    margin-bottom: 2px;
  }
  .pricing .user {
    margin-bottom: 5px;
  }
  .pricing .amount {
    font-size: 3.4rem;
    margin-bottom: 10px;
  }
  .pricing ul {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
}
@media (max-width: 545px) {
  .header_texts a {
    display: none;
  }
  .pricing {
    flex-wrap: wrap;
  }
  .pricing div {
    width: 230px;
  }
  .pricing .amount {
    font-size: 2rem;
  }
  .pricing .cta_btn {
    font-size: 1rem;
  }
  .footer .logo {
    font-size: 1.3rem;
  }
  .footer ul {
    gap: 5px;
  }
  .footer li i {
    font-size: 1rem;
    padding: 3px;
  }
}

@media (max-width: 470px) {
  nav span {
    font-size: 1rem;
  }
  .cta_btn {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .subscribe h1 {
    margin: 10px 0;
    font-size: 1rem;
  }
  .subscribe h2 {
    margin-bottom: 5px;
    font-size: 0.8rem;
  }
  .subscribe h2 span {
    font-size: 1.5rem;
  }
  .subscribe form {
    padding: 5px 15px;
    margin: 10px auto 3px;
  }
  .subscribe input {
    font-size: 0.8rem;
    padding-right: 3px;
  }
}
